body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333333;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    word-break: break-all;
}

th {
    background-color: #f2f2f2;
}

.th-actions {
    width: 250px;
}

.th-age {
    width: 75px;
}

.th-id {
    width: 50px;
}

.th-name {
    width: 150px;
}

.th-lastname {
    width: 150px;
}

.th-username {
    width: 100px;
}

.th-password {
    width: 200px;
}

.th-roles {
    width: 120px;
}

a:visited {
    color: blue;
}

a:active {
    color: red;
}

a.action-button, a.action-button:visited, input[type="submit"] {
    display: block;
    width: 350px;
    padding: 10px 20px;
    background-color: #4caf50;
    border: 1px solid black;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto auto 20px auto;
    text-decoration-color: #ffffff;
}

a.action-button:hover, input[type="submit"]:hover {
    background-color: #45a049;
    text-decoration-color: #ffffff;
}

a.action-button:active, input[type="submit"]:active {
    background-color: #285c2a;
    text-decoration-color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

.container-roles {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
}

.table-container {
    width: 90%;
    margin: 50px auto;
}

.container-user-list {
    width: 1500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-userpage {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-user-add, .container-user-update, .container-user-start {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}